.Mainapp {
  margin: 0%;
  display: flex;
  padding: 0% 1% 0% 1%;
  box-sizing: border-box;
}
.container {
  margin-top: 6%;
  padding: 1.5%;
  border-radius: 3px;
  width: 60%;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(221, 221, 221) !important;
}

.containerstyle {
  background-color: white;
  padding: 1.5%;
  border-radius: 8px;
}

.custom:focus {
  border-color: rgb(38, 166, 154) !important;
  box-shadow: 0 0 0 0.10rem rgb(38, 166, 154) !important;
}
.custom{
  margin-top:3% !important;
}
.loginButton {
  background-color: rgb(38, 166, 154) !important;
  margin-top: 7%;
  border-color: rgb(38, 166, 154) !important;
}

.form-control {
  margin-top: 0%;

}

.searchbar {
  text-align: center;
  width: 17.35rem;
  background-color: transparent;
  /* border: transparent; */

}

.icon {
  margin-left: 0.2rem;
}

.form-group {
  justify-content: center;
  padding: 8%;
  margin-top: 3%;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: dimgray;
}

.text1 {
  display: flex;
  justify-content: center;
  color: black;
  margin-bottom: 30px;
  cursor: pointer;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  color: rgb(38, 166, 154) !important;
  font-size: 5rem;
}

.logotext {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;

  margin-top: 2%;
}

/* /////////////////////////////////////////////// */
/* .container2{
    display: flex;
    padding: 1% 1% 0  1%;
  
} */
/* /////////////////////////////////////////////// */

.chatstext {
  font: bold;
  font-size: 1.8rem;
}

.leftside {
  background-color: transparent;

}

.upleft {
  margin-left: 14%;
  margin-top: 3%;
  border-radius: 50%;
  width: 2.2rem;
  border-radius: 90%;
  height: 2.2rem;
}

.common {
  margin-left: 10%;
  margin-top: 0%;


}

.Recenttext {
  font: bold;
  font-size: 1.4rem;
  margin-top: 2%;
}

.lefticon {
  margin-top: 5%;
  margin-left: 0%;


}

.lowerleftname {
  font-size: 1.1rem;
  margin-left: 1.7%;
  margin-top: 1%;
}

.lowerabout {

  font-size: 0.9rem;
  display: inline-flex;
  color: dimgray;
  margin-left: 2%;
}

.lowerleftnameabout {
  margin-left: 3%;
  margin-top: 0%;
  padding-bottom: 3%;



}

.timeleft {
  display: flex;
  font-size: 0.7rem;
  color: dimgray;
}

.left {

  justify-content: space-between;
}

.iconspanp {
  display: flex;
}

/* ////////////////////////////////////////////// */
.Rightside {
  background-color: transparent;

  justify-content: flex-end;

  height: 100%;
  border: solid black 1rem;
  border-radius: 5rem;
}

/* .containerstyle3{

} */
.input-group {
  width: 60%;
  margin-top: 1%;
}

.sbutton {
  margin-top: 9%;
}

.dotbutton {

  cursor: pointer;
}

.senderme {
  display: flex;
  justify-content: end;
  margin-right: 5%;
}

.mechat {
  text-overflow: clip;
  text-align: end;
  margin-bottom: 3rem;
}

.wrapper {
  width: 40%;
  position: relative;

}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);

}

.lastinputtext {
  width: 99%;
  margin-left: 0.5rem;
  text-align: start;
  /* border: transparent; */
  background-color: transparent;
  padding-top: 0%;

}

.msg {
  font-size: 1.8rem;
  margin-left: 2rem;
  cursor: pointer;
  color: rgb(114, 105, 239);
  margin-top: 0.1rem;


}

.emoji {
  font-size: 1.4rem;
  color: white;
  background-color: rgb(114, 105, 239);
  border-radius: 1rem;
  border: black;
  cursor: pointer;
  margin-left: -6rem;
  margin-top: 0.3rem;

}

.lastdiv {
  display: flex;

}

/* ///////////////////////////////////////// */
.container3 {
  display: flex;

}

.Circle {
  font-size: 1.8rem;
  color: rgb(233, 233, 233);
  border: solid black;
  border-radius: 8rem;
}

.message {
  display: flex;
  flex-direction: column;
  height: 42rem;
}

.icontext {
  margin-top: 4%;
  margin-left: 5%;
}

.upericon {
  margin-left: 4%;
  display: inline-flex;
}

.msgfooter {
  display: flex;
}

.chatdiv {
  display: flex;
  flex-direction: column;
  margin-left:3rem;

  color: white;
  position: relative;
  background-color: rgb(114, 105, 239);
  padding: 5%;
  border-radius: 0.5rem 0.5rem 0.5rem 0;
  border: 0.1rem solid rgb(114, 105, 239);
}

.chatdiv:after {
  content: "";
  position: absolute;
  border: 0.7rem solid transparent;
  border-top: 0.6rem solid rgb(114, 105, 239);
  border-left: none;
  bottom: -1.4rem;
  left: -0.1rem;
}


.msgtext {
  margin-left: 10%;
}

.time {

  margin-left: 55%;
  margin-top: 6%;
  font-size: 0.7rem;
}

.chatuser {
  display: flex;
  justify-content: space-between;
}

.chatusericon {

  display: flex;
}

.usericon {
  width: 2.2rem;
  border-radius: 50%;
  height: 2.2rem;
}

.usericonleft {
  width: 2.2rem;
  border-radius: 90%;
  height: 2.2rem;
}

.mechaticon {
  display: flex;
  justify-content: end;
  margin-bottom: 0%;
}

.usericonright {
  width: 2.2rem;
  border-radius: 50%;
  height: 2.2rem;
}

#sidebar {
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 0.12rem black;

}

.usericonrightlower {
  width: 2.2rem;
  border-radius: 50%;
  height: 2.2rem;
}

.lastnameright {

  padding-right: 1%;
}

.mechattext {
  padding-right: 5%;
}

.timelast {
  color: dimgray;
  font-size: 0.8rem;
}

.texttime {
  padding-bottom: 1rem;
}
.label{
  cursor: pointer;
}