.Mainapp {
  margin: 0%;
  display: flex;
  box-sizing: border-box;
  height: 67.2rem;
  background-position: left 0 bottom 0;
  background-repeat: no-repeat;
  background-size: 330px 1000px;
}

.container {
  margin-top: 6%;
  padding: 1.5%;
  border-radius: 3px;
  width: 60%;
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(221, 221, 221) !important;
}

.containerstyle {
  background-color: white;
  padding: 1.5%;
  border-radius: 8px;
}

.custom:focus {
  border-color: rgb(38, 166, 154) !important;
  box-shadow: 0 0 0 0.10rem rgb(38, 166, 154) !important;
}

.custom {
  margin-top: 3% !important;
}

.loginButton {
  background-color: rgb(38, 166, 154) !important;
  margin-top: 7%;
  border-color: rgb(38, 166, 154) !important;
}

.form-control {
  margin-top: 0%;
  background-color: white;

}

.searchbar {
  text-align: center;
  margin-top: 1rem;
  width: 15.40rem !important;
  padding-top: 0%;

}

.searchbar:focus {
  border-color: rgb(38, 166, 154) !important;
  box-shadow: 0 0 0 0.10rem rgb(38, 166, 154) !important;
}

.icon {
  margin-left: 0.2rem;
}

.form-group {
  justify-content: center;
  padding: 8%;
  margin-top: 3%;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  color: dimgray;
}

.text1 {
  display: flex;
  justify-content: center;
  color: black;
  margin-bottom: 30px;
  cursor: pointer;
}


.logo {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  color: rgb(38, 166, 154) !important;
  font-size: 5rem;
}

.logotext {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;

  margin-top: 2%;
}

.upusername {
  font-size: 1rem !important;
  margin-top:7px

}

.searchname {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 13px;
  margin-left: 10px;
}

.userChat {
  display: flex;
}

.chatstext {
  font: bold;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.leftside {
  background-color: transparent;


}

.upleft {
  margin-top: 3%;
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
}

.common {
  margin-left: 10%;
  margin-top: 0%;


}

.Recenttext {
  font: bold;
  font-size: 1.4rem;
  margin-top: 2%;
}

.lefticon {
  margin-top: 5%;
  margin-left: 0%;



}
.offlineicon {
  height: 0.4rem;
  width: 0.4rem;
  margin-bottom: -1rem;
  margin-left: 0.3rem;
  color: red;
}

.onlineicon
{
  height: 0.4rem;
  width: 0.4rem;
  margin-bottom: -1rem;
  margin-left: 0.3rem;
  color: green;
}

.lowerleftname {
  font-size: 1rem;
  margin-left: 3px;
  margin-top: 0%;
}

.lowerabout {

  font-size: 0.9rem;
  display: inline-flex;
  color: dimgray;
  margin-left: 2%;
}

.lowerleftnameabout {

  margin-top: 0%;
  padding-bottom: 5%;
  padding-left: 3%;



}

.timeleft {
  display: flex;
  font-size: 0.7rem;
  margin-right:  5px;
  color: dimgray;
}
.Rightside {
  background-color:navajowhite;
  padding: 0rem 1rem 0rem 1.5rem;
  justify-content: flex-end;
  height: 100%;
  width: 87.5% !important;

}

.upericonupleft {
  display: flex;
  flex-direction: row-reverse !important;
}

.logoutbutton {
  border: transparent;
  font-size: 1.8rem;
  background-color: transparent;
}

.input-group {
  width: 60%;
  margin-top: 1%;
}

.sbutton {
  margin-top: 9%;
}

.dotbutton {

  cursor: pointer;
}

.textme {
  display: flex;
  justify-content: end;
  margin-right: 5%;
}

.mechat {
  text-overflow: clip;
  text-align: end;
  margin-bottom: 3rem;
}

.wrapper {
  width: 40%;
  position: relative;

}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);

}

.lastinputtext {
  width: 99rem;
  height: 2.5rem;
  text-align: start;
  padding-top: 0%;
  border: none !important;
}

.lastinputtext:focus {
  border-color: rgb(38, 166, 154) !important;
  box-shadow: 0 0 0 0.15rem rgb(38, 166, 154) !important;

}

.msg {
  font-size: 1.8rem;
  margin-left: 1rem;
  cursor: pointer;
  color:rgb(38, 166, 154);
  margin-top: 0.3rem;
}
.msg:hover {
color:  rgb(114, 105, 239);

}
.logoutbutton:hover{
  color:  rgb(114, 105, 239);
}

.emoji {
  font-size: 1.9rem;
  color: rgb(114, 105, 239);
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  border: transparent;
  cursor: pointer;
  margin-left: -8rem;
  margin-top: 0.3rem;

}

.lastdiv {
  display: flex;

}

.messages {
  min-height: 60.1rem;
  max-height: 60.1rem;
  overflow-y: scroll;
  scrollbar-width: thin;

}

::-webkit-scrollbar {
  width: 5px;
  padding: 0%;
}
::-webkit-scrollbar-track {
  box-shadow: transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.container3 {
  display: flex;

}

.Circle {
  font-size: 1.8rem;
  color: rgb(233, 233, 233);
  border: solid black;
  border-radius: 8rem;
}

.message {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.owner {
  align-items: end;
  word-break: break-word;

}

.ownerchatdiv {
  text-align: end;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  justify-items: auto;
  margin-top: 3rem;
  color: white;
  position: relative;
  background-color: gray;
  width: 10% !important;
  display: flex;
  border-radius: 0.3rem 0.3rem 0rem 0.3rem;
  border: 0.1rem solid gray;
  border: transparent;
  margin-right: 3rem;
}

.ownerchatdiv:after {
  content: "";
  position: absolute;
  border: 0.7rem solid transparent;
  border-top: 0.6rem solid gray;
  border-right: none;
  bottom: -1.25rem;
  left: 10.64rem;
  justify-items: auto;
}

.ownername {
  margin-right: 0.4rem;
  margin-top: 6px;
}

.icontext {
  margin-top: 4%;
  margin-left: 5%;
  height: 1%;
  width: 1%;
}

.upericon {
  margin-left: 4%;
  display: inline-flex;
  margin-top: 0.7rem;
}

.userfooter {
  display: flex;
  flex-direction: row-reverse
}


.chatdiv {
  word-break: break-word;
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  justify-items: auto;
  margin-top: 3rem;
  color: white;
  position: relative;
  background-color: rgb(114, 105, 239);
  width: 10rem !important;
  display: flex;
  border-radius: 0.3rem 0.3rem 0.3rem 0rem;
  border: 0.1rem solid rgb(114, 105, 239);
  margin-right: 3rem;
}

.chatdiv:after {
  content: "";
  position: absolute;
  border: 0.7rem solid transparent;
  border-top: 0.6rem solid rgb(114, 105, 239);
  border-left: none;
  bottom: -1.3rem;
  left: -0.06rem;
  justify-items: auto;
}

.username {
  margin-left: 0.4rem;
}

.common {
  display: none !important;
}

.msgimg {
  border-radius: 0;
}

/* .msgimgs {
  border-radius: 8px 8px 8px 8px;
} */

.msgtext {
  margin-left: 5px;
  margin-right: 5px;
}

.time {

  /* align-self: flex-end; */
  margin-top: 6%;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 0.7rem;
}

.chatuser {
  display: flex;
  justify-content: space-between;
}

.chatusericon {

  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.usericon {
  width: 2.2rem;
  border-radius: 50%;
  height: 2.2rem;
  margin-top: 8px;
}

.usericonleft {
  width: 2.2rem;
  border-radius: 90%;
  height: 2.2rem;
}

.mechaticon {
  display: flex;
  justify-content: end;
  margin-bottom: 0%;
}

.usericonright {
  width: 2.2rem;
  border-radius: 50%;
  height: 2.2rem;
}

#sidebar {
  padding: 1rem 0 1rem 1rem;
  overscroll-behavior: none;
  background-color: floralwhite;


}

.usericonrightlower {
  width: 2.2rem;
  border-radius: 50%;
  height: 2.2rem;
}

.lastnameright {

  padding-right: 1%;
}

.mechattext {
  padding-right: 5%;
}

.timelast {
  color: dimgray;
  font-size: 0.8rem;
}

.texttime {
  padding-bottom: 1rem;
}

.label {
  cursor: pointer;
  margin-left: -6%;
}
.AttachAvatar {
  cursor: pointer;
}
.AttachAvatar:hover{
  color: rgb(38, 166, 154)
}

.img {
  color: rgb(38, 166, 154) !important;
  ;
}